<h3>Detalles del empleado</h3>
<div>
  <div>
    <label><b>ID : </b> {{ proveedor.id }}</label>
  </div>
  <div>
    <label><b>Nombre : </b> {{ proveedor.nombre }}</label>
  </div>
  <div>
    <label><b>Apellidos : </b> {{ proveedor.apellidos }}</label>
  </div>
  <div>
    <label><b>Direccion : </b> {{ proveedor.direccion }}</label>
  </div>
  <div>
    <label><b>Telefono : </b> {{ proveedor.telefono }}</label>
  </div>

  <div>
    <label><b>Email : </b> {{ proveedor.email }}</label>
  </div>
</div>
